<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: headerfiles(title='Form List', pageId='formList')"/>
        
    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
		
		<!-- begin:: classification banner -->
		<div th:replace="fragments/header :: classificationBanner" th:remove="tag"/>
		<!-- end:: classification banner -->
		
		<!-- begin:: Header Mobile -->
		<div th:replace="fragments/header :: headerMobile" th:remove="tag"/>
		<!-- end:: Header Mobile -->

		<!-- begin:: page grid-->	
		<div class="kt-grid kt-grid--hor kt-grid--root">
			<!-- begin:: main page grid item-->
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
				
				<!-- begin:: aside -->
				<div th:replace="fragments/aside :: aside('formList')" th:remove="tag"></div>
				<!-- end:: aside -->
				
				<!-- begin:: main content grid item-->
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
					
					
					<!--begin::kt-container-->
					<div th:switch="${forms}" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
						
						<!--begin::Portlet-->
						<div class="kt-portlet">
							<div class="kt-portlet__head">
								<div class="kt-portlet__head-label">
									<h3 class="kt-portlet__head-title">
										Sample Forms
									</h3>
								</div>
								<div class="kt-portlet__head-toolbar">
									<div class="kt-portlet__head-actions">
										<a th:href="@{/forms/new}" class="btn btn-primary btn-bold btn-sm">
											Create
										</a>
										<a th:href="@{/forms/export}" class="btn btn-primary btn-bold btn-sm">
											Export
										</a>
										<a th:href="@{/forms/export-xml}" class="btn btn-primary btn-bold btn-sm">
											Export XML
										</a>
									</div>
								</div>
							</div>
							<div class="kt-portlet__body">

								<!--begin::Section-->
								<div class="kt-section">
									<div class="kt-section__content">
										<div class="table-responsive">
											<table class="table table-striped table-hover">
												<thead class="thead-dark">
													<tr>
														<th>Form Name</th>
			                                    		<th>Code</th>
			                                    		<th>Field 1</th>
			                                    		<th>Field 2</th>
			                                    		<th>Edit</th>
			                                    		<th>Delete</th>
													</tr>
												</thead>
												<tbody>
					                                <tr th:each="form : ${forms}">
					                                    <td th:text="${form.name}"></td>
					                                    <td th:text="${form.code}"></td>
					                                    <td th:text="${form.field1}"></td>
					                                    <td th:text="${form.field2}"></td>
					                                    <td><a th:href="@{/forms/edit/{id}(id=${form.id})}" class="btn btn-primary btn-sm"><i class="fas fa-edit ml-2"></i></a></td>
					                                    <td><a th:href="@{/forms/delete/{id}(id=${form.id})}" class="btn btn-danger btn-sm"><i class="fas fa-times ml-2"></i></a></td>
					                                </tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<!--end::Section-->
							</div>
						</div>
						<!--end::Portlet-->
						
						
					</div>
					<!--end::kt-container-->
				</div>
				<!-- end:: main content grid item-->	
				
			</div>
			<!-- end:: main page grid item-->
		</div>
		<!-- end:: page grid-->
		
		<div th:replace="fragments/header :: scripts(pageId='formList')"/>
	</body>
</html>