<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: headerfiles(title='Import XML', pageId='uppyFileUpload')"/>
        
    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: classification banner -->
		<div th:replace="fragments/header :: classificationBanner" th:remove="tag"/>
		<!-- end:: classification banner -->
		
		<!-- begin:: Header Mobile -->
		<div th:replace="fragments/header :: headerMobile" th:remove="tag"/>
		<!-- end:: Header Mobile -->

		<!-- begin:: page grid-->	
		<div class="kt-grid kt-grid--hor kt-grid--root">
			<!-- begin:: main page grid item-->
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
				
				<!-- begin:: aside -->
				<div th:replace="fragments/aside :: aside('uppyFileUpload')" th:remove="tag"></div>
				<!-- end:: aside -->
				
				<!-- begin:: main content grid item-->
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
					<!--begin::kt-container-->
					<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
						
						<div class="col">
							<div class="kt-portlet kt-margin-top-30">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title">
											File Uplaod Example In Form Layout
										</h3>
									</div>
								</div>

								<!--begin::Form-->
								<form class="kt-form kt-form--label-right" th:action="@{/upload}" method="post" enctype="multipart/form-data">
									<div class="kt-portlet__body">
										<div class="form-group row">
											<label class="col-lg-3 col-form-label">Full Name:</label>
											<div class="col-lg-6">
												<input type="name" class="form-control" placeholder="Enter full name">
												<span class="form-text text-muted">Please enter your full name</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-3 col-form-label">Email:</label>
											<div class="col-lg-6">
												<input type="email" class="form-control" placeholder="Enter email">
												<span class="form-text text-muted">Please enter your email</span>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-lg-3 col-form-label">Message:</label>
											<div class="col-lg-6">
												<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Please enter your message"></textarea>
												<span class="form-text text-muted">We'll never share your message with anyone else.</span>
											</div>
										</div>
										<div class="form-group form-group-last row">
											<label class="col-lg-3 col-form-label">Upload File:</label>
											<div class="col-lg-6">
												<div class="kt-uppy" id="kt_uppy_5">
													<div class="kt-uppy__wrapper"></div>
													<div class="kt-uppy__list"></div>
													<div class="kt-uppy__status"></div>
													<div class="kt-uppy__informer kt-uppy__informer--min"></div>
												</div>
												<span class="form-text text-muted">Max file size is 1MB and max number of files is 5.</span>
											</div>
										</div>
									</div>
									<div class="kt-portlet__foot">
										<div class="kt-form__actions">
											<div class="row">
												<div class="col-lg-3"></div>
												<div class="col-lg-6">
													<button type="reset" class="btn btn-brand">Submit</button>
													<button type="reset" class="btn btn-secondary">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!--end::Form-->
								</div>
							</div>
						
						
						</div>
						
						
					</div>
					<!--end::kt-container-->
				</div>
				<!-- end:: main content grid item-->	
				
			</div>
			<!-- end:: main page grid item-->
		</div>
		<!-- end:: page grid-->
		
		<div th:replace="fragments/header :: scripts(pageId='uppyFileUpload')"/>
		
		<script th:src="@{/js/KTUppy.js}" type="text/javascript"></script>
	</body>
</html>