<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Select the block having id as 'mainContent' here in this page and pass it as a parameter to the fragement named 'pageTemplate'
		 defined in pageTemplate.html under fragments folder. The content should show up as the main content. 
		 Since all styles, navigation, and page layout have been defined in the pageTemplate fragment, we only need to 
		 focus on the main content construction. In addtion, page specific css links and scripts can be added. 
	-->
<th:block
	th:replace="fragments/pageTemplate :: pageTemplate(title='Dynamic Accordions Form', pageId='dynamicAccordionForm', pageSpecificCSSLinks=~{:: link}, pageSpecificScripts=~{::script}, content=~{:: #mainContent})">

	<link rel="stylesheet" type="text/css" th:href="@{/css/sampleStyle.css}" />

	<th:block id="mainContent">
		<div class="container mt-5">
			<h2>Dynamic Accordion Form</h2>
			<form action="#" th:action="@{/accordionForm/submit}" th:object="${parent}" method="post">
				<div class="accordion" id="dynamicAccordionSection"></div>

				<!-- Submit Button -->
				<button type="submit" class="btn btn-primary mt-3">Submit</button>
			</form>
		</div>
	</th:block>

	<script type="text/javascript">
		$(document).ready(function () {

			url = "[[@{'/accordions'}]]" + "/dynamicAccordionFormObject/";

			$.ajax({
				url: url,  // Spring Boot API endpoint
				type: 'GET',
				success: function (parent) {
					var accordionForm = $('#dynamicAccordionSection');

					console.log("parent: " + parent);
					parent.children.forEach(function (child, index) {
						var accordionItem = `
	                            <div class="card">
	                                <div class="card-header" id="heading${index}">
	                                    <h5 class="mb-0">
	                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse${index}" aria-expanded="true" aria-controls="collapse${index}">
	                                            ${child.title}
	                                        </button>
	                                    </h5>
	                                </div>

	                                <div id="collapse${index}" class="collapse ${index === 0 ? 'show' : ''}" aria-labelledby="heading${index}" data-parent="#dynamicAccordionSection">
	                                    <div class="card-body">
	                                        
	                                        <!-- Text Area -->
											<div class="form-group">
												<label for="child${index}">Text Area:</label>
												<textarea id="child${index}" name="children[${index}].text" class="form-control" rows="3"></textarea>
											</div>
											
	                                    </div>
	                                </div>
	                            </div>
	                        `;
						accordionForm.append(accordionItem);
					});
				},
				error: function (error) {
					console.log('Error:', error);
				}
			});
		});
	</script>

</th:block>

</html>