<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<!-- Select the block having id as 'formList' here in this page and pass it as a parameter to the fragement named 'pageTemplate'
		 defined in pageTemplate.html under fragments folder. The content should show up as the main content. 
		 Since all styles, navigation, and page layout have been defined in the pageTemplate fragment, we only need to 
		 focus on the main content construction. In addtion, page specific css links and scripts can be added. 
	-->
	<th:block th:replace="fragments/pageTemplate :: pageTemplate(title='Dynamic Form Edit List', pageId='dynamicFormEditList', pageSpecificCSSLinks=~{}, pageSpecificScripts=~{}, content=~{:: #dynamicFormEditList})">
		
		<th:block id="dynamicFormEditList">
			<!--begin::Portlet-->
				<div class="kt-portlet">
					<div class="kt-portlet__head">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
								Dynamic Form Edit List
							</h3>
						</div>
						<div class="kt-portlet__head-toolbar">
							<div class="kt-portlet__head-actions">
								
								<a th:href="@{/forms/export}" class="btn btn-primary btn-bold btn-sm">
									Export
								</a>
								<a th:href="@{/forms/export-xml}" class="btn btn-primary btn-bold btn-sm">
									Export XML
								</a>
							</div>
						</div>
					</div>
					
					<form class="kt-form" action="#" th:action="@{/forms/saveAll}" th:object="${formListDto}" method="post">
						<div class="kt-portlet__body">
							<!--begin::Section-->
							<div class="kt-section">
								<div class="kt-section__content">
									<div class="table-responsive">
										<table class="table table-striped table-hover">
											<thead class="thead-dark">
												<tr>
													<th>Form Name</th>
		                                    		<th>Code</th>
		                                    		<th>Field 1</th>
		                                    		<th>Field 2</th>		                                    		
		                                    		<th>Delete</th>
												</tr>
											</thead>
											<tbody>
				                                <tr th:each="form, itemStat : *{forms}">
													<!-- hidden fields are used to preserve values to prevent data lose -->
													<input type="hidden" th:field="*{forms[__${itemStat.index}__].id}" />
													<input type="hidden" th:field="*{forms[__${itemStat.index}__].word}" />
													<input type="hidden" th:field="*{forms[__${itemStat.index}__].category}" />
													<input type="hidden" th:field="*{forms[__${itemStat.index}__].subCategory}" />
													<input type="hidden" th:field="*{forms[__${itemStat.index}__].items}" />
													<input type="hidden" th:field="*{forms[__${itemStat.index}__].textArea}" />
													<td><input th:field="*{forms[__${itemStat.index}__].name}" /></td>
				                                    <td><input th:field="*{forms[__${itemStat.index}__].code}" /></td>
				                                    <td><input th:field="*{forms[__${itemStat.index}__].field1}" /></td>
				                                    <td><input th:field="*{forms[__${itemStat.index}__].field2}" /></td>                             
				                                    <td><a th:href="@{/forms/delete2/{id}(id=${form.id})}" class="btn btn-danger btn-sm"><i class="fas fa-times ml-2"></i></a></td>
				                                </tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							
							<!--end::Section-->
						</div>
						<!-- end:: kt-portlet__body -->
						<div class="kt-portlet__foot">
							<div class="kt-form__actions">
								<input type="submit" class="btn btn-primary" value="Save Form">
								<button type="reset" class="btn btn-secondary">Cancel</button>
							</div>
						</div>
						
					</form>
				</div>
				<!--end::Portlet-->
		</th:block>
</html>